<div class="text">
  <label>
    Entradas para QR:
    <br>
    <textarea [(ngModel)]="dataInput" rows="15" cols="50"></textarea>
  </label>
  <br>
  <button (click)="generateQR()">Generar</button>
</div>

<br>

<p *ngFor="let qrData of listsPerQR">
  <qrcode [qrdata]="qrData" [size]="256" [level]="'M'"></qrcode>
</p>